<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('components/head') %>
    <title>Home page</title>
</head>
<body>
    <%- include('components/nav') %>
    <%- include('components/script') %>
</body>
</html>